<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script defer src="/public/js/room.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<link rel="stylesheet" href="/public/css/room.css">
	<title>V-Tube</title>
</head>

<body>
	<div class="color-box">
		<form id="color-form">
			<div class="form-group">
				<input type="text" name="colorVal" class="form-control">
			</div>
		</form>
	</div>
	<script>
		const roomID = '<%= roomID %>';
	</script>
</body>

</html>